@charset "utf-8";
 @media print {
	.container, .inner-content-portion {
		width:100% !important;
	}
	*,*:after,*:before{background:transparent !important;
	background-color:#transparent !important;
	color:#000 !important;
	}

	.header-wrapper {
		border-bottom: 1px solid #000 !important;
		text-align:center!important;
	}

	.footer-bottom-wrapper{
		border-top:1px solid #000!important;
		text-align:center!important;
	}
	body, a {
		font-family:Arial, Helvetica, sans-serif;
		color:#000 !important;
	}
	body p {
		line-height:22px !important;
	}

	.logo {
		padding: 10px 0!important;
		float: left;
	}

	.body-container ul.list li {
		position:relative;
	}
	.region-header-top,.megamenu-wraper,.banner-wrapper,.carousel-wrapper {
		display:none !important;
	}
	.banner-box{
		text-align: left;
	}	
	.banner-box-wrapper .banner-box.banner-box-1, .banner-box-wrapper .banner-box.banner-box-2{
		width: 100%;
		display: inline-block;
/* 		float: left!important;
 */		
 		margin-right: 300px!important;
 		margin-top: 50px;
	}
	.home-banner .banner-container .left-block {
		display: block;
	}
}
@page :left {
	margin: 0.2cm;
	padding: 0.8cm;
}

@page :right {
	margin: 0.2cm;
	padding: 0.8cm;
}
