{% extends "base.html" %}
{% block content %}
{% load static %}
<section class="wrapper banner-wrapper">
        <div id="flexSlider" class="flexslider">
            <div class="inner-banner"><img src="{% static 'theme/images/banner/inner-banner.png'%}"
                    alt="Inner Banner of Consumer Affairs" title="banner"></div>
        </div>
</section>
<div class="wrapper" id="skipCont"></div>
 <section id="fontSize" class="wrapper body-wrapper ">
        <div class="bg-wrapper inner-wrapper">
            <div class="breadcam-bg breadcam">
                <div class="container common-container four_content">
                    <ul>
                        <li><a href="home.html">Home </a></li>
                        <li class="current">Events</li>
                    </ul>
                </div>
            </div>
            <section id="page-head" class="wrapper headings-wrapper">
                <div class="container common-container four_content">
                    <h1>Events</h1>
                    <hr />
                </div>
            </section>
            <!--/#article-->
            <section id="tables" class="wrapper tables-wrapper">
                <div class="container common-container four_content">
                    <div class="scroller">
                        <table cellspacing="0" cellpadding="0">
                            <tbody>
                                <caption>Events</caption>
                                <tr>
                                    <th align="center" valign="middle">Serial No.</th>
                                    <th align="left" valign="middle">Event Name</th>
                                    <th align="left" valign="middle">Date</th>
                                    <th align="left" valign="middle">Venue</th>
                                    <th align="left" valign="middle">Documents</th>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">1</td>
                                    <td align="left" valign="middle">Smart India Hackathon 2022 Coding Event</td>
                                    <td align="left" valign="middle">25/08/2022</td>
                                    <td align="left" valign="middle">GMR Institute of Technology, GMR Nagar, Razam, Andhra Pradesh</td>
                                    <td align="left" valign="middle"><a href="#">Attachment</a></td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">2</td>
                                    <td align="left" valign="middle">Smart India Hackathon 2022 Winner Declaration</td>
                                    <td align="left" valign="middle">26/08/2022</td>
                                    <td align="left" valign="middle">GMR Institute of Technology, GMR Nagar, Razam, Andhra Pradesh</td>
                                    <td align="left" valign="middle"><a href="#">Attachment</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr />
                </div>
            </section>
        </div>
    </section>

{% endblock %}